################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mentor/bin/Debug/net5.0
/Mentor/obj
/Mentor/wwwroot/fontawesome/svgs
