
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="container-fluid mb-3 mt-5  p-5 ">

    <div class="lay bg-light  col-7 offset-3 pb-2 shadow-lg " style="border-radius:50px; margin-bottom:-18px; ">
        <div class="mb-3  text-dark rounded-sm p-3">
            <h3 class="text-center text-uppercase ">Forget Password</h3>

            <div id="email">

                <div class="row justify-content-center">
                    <div class="form-group  col-8">
                        <label for="email" class="form-label text-md-right">E-mail Address</label>
                        <div class="">
                            <input id="emailToVerify" type="email" class="form-control rounded-3 " required >
                        </div>
                    </div>
                    
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-5 text-center p-3">
                        <button role="button" id="submit" class=" btn-block rounded-pill new" style="width:50%" onclick="verifyEmailToForgetPassword()">Submit</button>
                    </div>
                </div>
               

            </div>
        </div>


        <div id="passwordField">
            <input id="userEmail" type="password" class="form-control rounded-3 new" hidden>

            <div class="row justify-content-center  mb-2">
                <div class="form-group col-8">
                    <label for="password" class="form-label text-md-right">New Password</label>
                    <div class="">
                        <input id="newPassword" type="password" class="form-control rounded-3 new" required>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center  mb-2">
                <div class="form-group col-8">
                    <label for="password-confirm" class="form-label text-md-right">Confirm Password</label>
                    <div class="">
                        <input id="confirmPassword" type="password" class="form-control rounded-3 new" required name="password_confirmation">
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="form-group col-5 text-center p-3">
                    <button role="button" id="save" class=" btn-block rounded-pill" style="width:50%" onclick="updateUser()">Update</button>
                </div>
            </div>
        </div>
      
    </div>
</div>


<script>
     $(document).ready(function ()
    {
         $("#passwordField").hide();
         
     });
</script>